APP_NAME=OmniShop
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://shop.omnispace3d.com

DB_HOST=localhost
DB_NAME=omnispac_shop_laravel
DB_USER=omnispac_omnispac_omnishop-dev
DB_PASS=CHANGE_ME
